@{
    ViewData["Title"] = "Management";
}

<div class="container mt-4">
    <h2 class="mb-4">Management</h2>
    <div class="row">
        <div class="col-md-4">
            <a asp-controller="UserManagement" asp-action="Index" class="btn btn-light d-block p-4 text-center">
                <strong>USERS</strong>
            </a>
        </div>
        <div class="col-md-4">
            <a asp-controller="Community" asp-action="Index" class="btn btn-light d-block p-4 text-center">
                <strong>COMMUNITY</strong>
            </a>
        </div>
        <div class="col-md-4">
            <a asp-controller="Services" asp-action="Index" class="btn btn-light d-block p-4 text-center">
                <strong>SERVICES</strong>
            </a>
        </div>
    </div>
</div>
